
@import url('https://fonts.googleapis.com/css2?&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{ /* definição das variavéis*/
    --cor-primaria:#000;
    --cor-secudaria:#ffff;
    --cor-terciaria:#56006e;
    --cor-quartenaria:#b403b4;
    --cor-quintenaria: #2c2b2b;
    --fonte-primaria: "krona one", sans-serif;
    --fonte-secundaria:"Montserrat", serif;
    
}

*{  /*  função para resetar as dimensões da pagina*/
    margin: 0;
    padding: 0;
}


body{  /* personalização do corpo da pagina */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secudaria);
}
.apresentacao{  /* personalização do main */
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cabeçalho{ /* personalização do header*/
    padding: 2% 0 0 10%;
}
 .menu{  /* personalização da tag "nav" */
    padding: 5%;
    display: flex;
    gap: 5%;
    justify-content: right;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-terciaria);
 }


 .home{ /*personalização da âncora home*/
    color: var(--cor-terciaria);
    text-decoration: none;
 }

 .home:hover{ /*personalização da segunda cor da âncora home*/
    color:var(--cor-quartenaria);
 }
.biografia{ /*personalização da âncora biografia*/
    color:var(--cor-terciaria);
    text-decoration: none;
    
}

.biografia:hover{ /* personalização da segunda cor da âncora biografia*/
    color: var(--cor-quartenaria);
}
.curriculo{ /*personalização da âncora biografia*/
    color:var(--cor-terciaria);
    text-decoration: none;
    
}

.curriculo:hover{ /* personalização da segunda cor da âncora biografia*/
    color: var(--cor-quartenaria);
}



.sombreado{ /* personalização do destaque ou sombreado que fica no caracter*/
    color:var(--cor-terciaria);
}

.apre_conteudo{   /* personalização da tag section  */
    display: flex;
    flex-direction: column;
    gap: 40px;
    width:615px;
}

.Titulo{      /* personalização do "h1" do section*/
    font-size: 36px;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
}

.paragrafo{  /* personalização do "p" do section*/
    font-size: 24px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.bloco_1{ /* personalização da tag "div" do section*/
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}




.amostra{ /* personalização do h2 do section*/
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 24px;
}



.links{ /*personalização das âncoras */
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    text-align: center;
    align-items: center;
    gap: 16px;
    width: 378px ;
    height: 72px ;
    font-size: 20px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    
}

.links:hover{    /* personalização da segunda cor das âncoras*/
    background-color: var(--cor-quintenaria);
}

.logo{ /* personalização das logo github e instagram*/
    margin:0;
    padding: 0;
    width: 30px;
    height: 30px;
}
.img_joana_santos{   /* personalização da imagem joana santos*/
    margin: 100px;
    width: 488px;
    height: 550px;

}

.rodape{    /* personalização da tag "footer"*/
    text-align: center;
    padding: 23.64px;
    color: var(--cor-primaria);
    background-color:var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}